        <div class="ui basic  violet inverted segment">
 <div class="ui grid centered aligned " style="text-align:center;">

  <div class="four wide column centered " style="text-align:center">
  	<%= link_to learns_path, class: "whited" do %>
  		<i class="newspaper icon big "></i><br>Learn<br>
  		<% end %>
	</div>

  <div class="four wide column centered">
  	<%= link_to user_networks_path, class: "whited" do %>
  	<i class="group icon  big "></i> Group
  	<% end %>
</div>

  <div class="four wide column">
  <%= link_to dreams_path, class: "whited" do %>
  	<i class="building icon  big "></i><br>Dream<br>
    <% end %>
	</div>

  <div class="four wide column">
  <i class="road icon big  "></i><br>Goal<br>
	</div>
 
  <div class="four wide column" style="text-align:center">
  <%= link_to  user_networks_path, class: "whited" do %>
  <i class="heart icon big "></i><br>Network<% end %> 
  </div>

  <div class="four wide column" style="text-align:center">
 <%= link_to  people_path, class: "whited" do %> <i class="external icon big "></i><br> Followings <% end %>
</div>

  <div class="four wide column">
  <%= link_to galleries_path, class: "whited" do %>
  <i class="camera retro icon big "></i><br>Photos 
  <% end %>
</div>
  <div class="four wide column">
  <%= link_to videos_path, class: "whited" do %> 
  <i class="video icon big "></i><br>Videos
  <%end%><br>
</div>

 <div class="four wide column">
 <%= link_to sounds_path, class: "whited" do %>
 <i class="sound icon big "></i><br>Sounds<br>
 <%end%>
</div>
  <div class="four wide column">
<%= link_to creates_path, class: "whited" do %>
  <i class="edit icon big "></i><br>Create<br>
  <%end%>
</div>
</div>
</div>