<div class="ui container" style="padding:10% 20% 0% 20%; ">
<div class="ui segment">
<div class="ui fluid button in-active"><h2>Sign up</h2></div><br>
<div class="ui form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="six wide field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="six wide field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
</div>