<% if current_user.blocked_friends.any? %>
	<% current_user.user_networks.each do |network| %>
		<% if network.blocked? %>

			<div class="blocked">
				<div class="blocked-avatar"><%= render "friend_avatar", object: network.friend %></div>
				<div class="blocked-information">
					<span class="friend-name"><%= link_to network.friend.username,  network.friend.username %></span>
				    - <em>network blocked <%= network.updated_at.strftime("%A,  %B %e,  %Y") %></em> 
				</div>
			</div>

			<div class="accepted-friends">
				<form accept-charset="UTF-8" action="<%= user_network_path(network) %>" class="edit_requested_user_network" id="<%= network.id %>" method="post">
		            <div style="margin:0;padding:0;display:inline">
		              <input name="utf8" type="hidden" value="✓">
		              <input name="_method" type="hidden" value="put">
		              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		            </div>
		            <input class="ui primary button" name="commit" type="submit" value="Unblock">       
		        </form>
			</div>

		<% end %>
	<% end %>
<% else %>
	<h4>You have no blocked friends!</h4>
<% end %>